@import "variables";

// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Overpass (cyrillic)
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Ubuntu Condensed (greece)
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&display=swap');

// (chinese)
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Marhey:wght@300..700&family=Noto+Sans+SC:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&display=swap');

// Amiri Quran (arabic)
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Marhey:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&display=swap');

* {
  font-family: 'Poppins',
  'Overpass',
  'Ubuntu Condensed',
  'Amiri Quran',
  'Noto Sans Simplified Chinese',
  serif;
  color: $clr-text;
  font-size: $font-size;
  letter-spacing: 1px;
}

h1 {
  font-size: $font-size-heading1;
}

h2 {
  font-size: $font-size-heading2;
}

h3 {
  font-size: $font-size-heading3;
}
